@if ((bool)(System.Web.HttpContext.Current.Session["loggedin"] ?? false))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        @Html.ActionLink("Log Off", null, null, routeValues: null, htmlAttributes: new { @class = "hdrMenuItemRight", onclick = "javascript:document.getElementById('logoutForm').submit()" })
        @Html.ActionLink("Hello " + (System.Web.HttpContext.Current.Session["username"] ?? "") + "!", null, null, routeValues: null, htmlAttributes: new { @class = "hdrMenuItemRight", title = "Manage" })
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
