@using System
@using SMPL46.ViewModels
@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div>
    @if (Model.SMPLVersion == "STAGE")
    {
        <img src="~/images/DSCN0711_small.JPG" alt="" />
    }
    else
    {
        <img src="~/images/street cleaning.jpg" alt="" />
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}